html{
    scroll-behavior: smooth;
}
body{
    height: 700vh;
   
}

header{
    padding: 10px 0px;
    box-shadow: 2px 2px 12px 0px black;
    nav{
        .nav-links{
            ul{
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                
                li{
                    margin-left: 25px;
                    font-size: 18px;
                    a{
                        text-decoration: none;
                        color: grey;
                        i{

                        }
                    }
                }
            }
        }
        .social-medias{
            ul{
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                li{

                    a{
                        text-decoration: none;
                        font-size: 25px;
                        color: rgb(63, 148, 204);
                        i{

                        }
                    }
                }
            }
        }
        .menu-icon{
           display: none;
           align-items: center;
           justify-content: flex-end;
           
           i{
               font-size: 25px;
           }
        }
      
        .menu{
            position: fixed;
            top: 0;
            right: 0;
            width: 300px;
            height: 100vh;
            background-color: yellow;
            transform: translateX(100%);
            transition: 0.3s;
            .menu-nav-links{
                text-align: center;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        line-height: 40px;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
            .menu-social-medias{
               
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    li{
                        margin-right: 25px;
                        a{
                            font-size: 25px;
                        }
                    }
                }
            }
            .close{
                text-align: end;
                i{
                    font-size: 25px;
                }
            }
        }
    
    }
}

.scroll-icon{
    position: fixed;
    top: 90%;
    left: 90%;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.scroll-active{
    display: block !important;
}
@media screen and(max-width:992px){
    .nav-links{
        display: none;
    }
    .social-medias{
        display: none;
    }
    header{
        nav{
            .menu-icon{
                display: flex;
            }
        }
    }
    .active{
        transform: translateX(0) !important;
    }
 
}