html {
  scroll-behavior: smooth;
}

body {
  height: 700vh;
}

header {
  padding: 10px 0px;
  -webkit-box-shadow: 2px 2px 12px 0px black;
          box-shadow: 2px 2px 12px 0px black;
}

header nav .nav-links ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav .nav-links ul li {
  margin-left: 25px;
  font-size: 18px;
}

header nav .nav-links ul li a {
  text-decoration: none;
  color: grey;
}

header nav .social-medias ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .social-medias ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #3f94cc;
}

header nav .menu-icon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .menu-icon i {
  font-size: 25px;
}

header nav .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: yellow;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .menu .menu-nav-links {
  text-align: center;
}

header nav .menu .menu-nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav .menu .menu-nav-links ul li {
  line-height: 40px;
}

header nav .menu .menu-nav-links ul li a {
  text-decoration: none;
}

header nav .menu .menu-social-medias ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

header nav .menu .menu-social-medias ul li {
  margin-right: 25px;
}

header nav .menu .menu-social-medias ul li a {
  font-size: 25px;
}

header nav .menu .close {
  text-align: end;
}

header nav .menu .close i {
  font-size: 25px;
}

.scroll-icon {
  position: fixed;
  top: 90%;
  left: 90%;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.scroll-active {
  display: block !important;
}

@media screen and (max-width: 992px) {
  .nav-links {
    display: none;
  }
  .social-medias {
    display: none;
  }
  header nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}
